body {
  font-family: Arial, sans-serif;
  background-color: #04034f;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  margin: 50px auto;
  background: rgba(41, 73, 249, 0.8) 0%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #fff;
}
h2 {
  color: #fff;
}
input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button.add,
button.remove {
  width: 49%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button.remove {
  background-color: red;
}

button.add:hover {
  background-color: #179407;
}
button.remove:hover {
  background-color: #d80c0c;
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #04034f;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-align: left;
}
